<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Them thong tin khach hang moi </title>
</head>
    <body>
        <h1> Them thong tin khach hang</h1>
        <form action="" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="txtCustomer_id" placeholder="ID Khách"> <br/>
            <input type="text" name="txtCustomer_name" placeholder="TEN Khách"> <br/>
            <input type="text" name="txtemail" placeholder="Email"> <br/>
            <input type="text" name="txtbirthday" placeholder="Ngay sinh"> <br/>
            <input type="submit" name="btnGoiMon" placeholder="GoiMon">
        </form>
    </body>
    <h2> <a href="/menu.html"> Menu</a></h2>
</html>