<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/responsive.css">
    <link rel="stylesheet" href="./css/slideshow.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Project SQL</title>
</head>
<body>
    <div id="page-wrapper">
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/" class="sidebar-brand sidebar-house">
                <div>
                    <i class="fa-solid fa-database"></i>
                </div>
                <div>Project SQL</div>
            </a>
            <hr>
            <a href="/" class="sidebar-brand sidebar-home-page sidebar-location">
                <div>
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div>Home page</div>
            </a>
            <hr>
            <div class="sidebar-heading">CHỨC NĂNG</div>
            <a href="./menu.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div>Menu</div>
            </a>
            <a href="./set_table.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-couch"></i>
                </div>
                <div>Đặt Bàn</div>
            </a>
            <a href="./set_the_table.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-plate-wheat"></i>
                </div>
                <div>Gọi Món</div>
            </a>
            <a href="./pay.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                </div>
                <div>Thanh Toán</div>
            </a>
            <hr>
            <div class="sidebar-heading">QUẢN LÝ</div>
            <a href="../Manage/client.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>Danh Sách Khách Hàng</div>
            </a>
        </div>
        <div class="content">
            <div class="content-border">
                <b class="content-border-title">Chào mừng bạn đến với nhà hàng của chúng tôi</b>
            </div>
            <div class="content-background">
                <img class="content-background-slideshow" src="./image/home/com_tam.jpg">
                <img class="content-background-slideshow" src="./image/home/takoyaki.jpg">
                <img class="content-background-slideshow" src="./image/home/bittet.jpg">
                <div class="content-button" style="width:100%">
                    <div class="content-button-left"><i class="fa-solid fa-angle-left"></i></div>
                    <div class="content-button-right"><i class="fa-solid fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
    
</body>
    <script src="./js/slideshow.js"></script>
    <script src="./js/main.js"></script>
</html>