<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/order.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Danh sach </title>
</head>

<body>
    <div>
        <!-- Sidebar -->
        <div class="sidebar">
            <a href="/" class="sidebar-brand sidebar-house">
                <div>
                    <i class="fa-solid fa-database"></i>
                </div>
                <div>Project SQL</div>
            </a>
            <hr>
            <a href="/" class="sidebar-brand sidebar-home-page sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-house-chimney"></i>
                </div>
                <div>Home page</div>
            </a>
            <hr>
            <div class="sidebar-heading">CHỨC NĂNG</div>
            <a href="/menu.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-utensils"></i>
                </div>
                <div>Menu</div>
            </a>
            <a href="/set_table.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-couch"></i>
                </div>
                <div>Đặt Bàn</div>
            </a>
            <a href="/set_the_table.html" class="sidebar-brand sidebar-location">
                <div>
                    <i class="fa-solid fa-plate-wheat"></i>
                </div>
                <div>Gọi Món</div>
            </a>
            <a href="/pay.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-money-bill-1-wave"></i>
                </div>
                <div>Thanh Toán</div>
            </a>
            <hr>
            <div class="sidebar-heading">QUẢN LÝ</div>
            <a href="../Manage/client.html" class="sidebar-brand sidebar-location sidebar-opacity">
                <div>
                    <i class="fa-solid fa-list"></i>
                </div>
                <div>Danh Sách Khách Hàng</div>
            </a>
        </div>
    </div>
    <!-- <div class="menu-insert-slider">
        <img src="/image/menu-insert/image-1.jpg" alt="Image-Demo" class="menu-insert-image">
        <img src="/image/menu-insert/image-2.jpg" alt="Image-Demo" class="menu-insert-image">
        <img src="/image/menu-insert/image-3.jpg" alt="Image-Demo" class="menu-insert-image">
    </div> -->
    <div class="order">
        <b class="order-name"> Gọi Món Ăn</b>
        <form action="" method="POST" enctype="application/x-www-form-urlencoded">
            <input class="order-input order-input-first"type="text" name="txtTable_id" placeholder="ID BAN"> <br/>
            <input class="order-input"type="text" name="txtCustomer_id" placeholder="ID Khach Hang"> <br/>
            <input class="order-input"type="text" name="txtMeal_id" placeholder="ID Mon An"> <br/>
            <input class="order-input"type="text" name="txtCount" placeholder="So luong"> <br/>
            <input class="order-input"type="text" name="txtDate" placeholder="Thoi Gian"> <br/>
            <input class="order-input-btn"type="submit" name="btnGoiMon" placeholder="GoiMon">
        </form>
    </div>
    <div class="menu order-menu">
        <b class="menu-name">Danh Sách Món Ăn</b>
        <table width="450" class="menu-table">
            <tr class="menu-table-border">
                <td>STT</td>
                <td>TÊN MÓN</td>
                <td>GIÁ</td>
            </tr>
            <% danhsach1.rows.forEach(function(sv){ %>
            <tr class="menu-table-border menu-table-margin">
                <td><%= sv.meal_id %></td>
                <td><%= sv.meal_name %></td>
                <td><%= sv.price %></td>
            </tr>
            <% }); %>
        </table>
    </div>
</body>

</html>