<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Danh sach </title>
</head>
    <body>
        <h1> Xóa Món Ăn</h1>
        <form action="" method="POST" enctype="application/x-www-form-urlencoded">
            <input type="text" name="txtmeal_id" placeholder="ID MON"> <br/>
            <input type="submit" name="btnGoiMon" placeholder="XoaMon">
        </form>
    </body>
</html>